.houseSize-section {
    text-align: center;
    margin: 4em;
}

.houseSize-section h3{
    margin-bottom: 1em;
    color: #575353 ;
}

.user-profile {
    background: #9900c8;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#dropdown-basic {
    text-align: right;
    background-color: #eaea2f;
    width: 40px;
    border: 1px solid yellow;
    border-radius: 50%;
    height: 40px;
    padding: 8px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.houseSize__title {
    font-size: 1.5em;
    color: #fff;
    width: 100%;
    align-self: center;
    text-align: center;
    text-decoration: underline;
}

.size-select {
    display: block;
    margin: auto;
    width: 30%;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 6px;
    color: #323030;
    font-weight: 600;
    font-size: 15px;
}

.select-button {
    background: #9900c8;
    width: 30%;
    border-radius: 3px;
    margin-top: 2em;
    padding: 6px;
    color: #fff;
    font-weight: 600;
    border: 1px solid #9900c8;
    text-align: center;
}

.select-button:hover {
    background-color: #fff;
    color: #9900c8;
    transition: background-color .6s;
}