.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6em;
    width: 100%;
}

.login-container__image-section {
    width: 40%;

}

.login-container__image-section__title {
    margin-left: 56px;
    color: #9900c8;
}

.login-container__form-section {
    width: 80%;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 10px;
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container__form__input-text {
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.login-container__form__btn {
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    border-radius: 3px;
    background: #9900c8;
    color: #fff;
    font-weight: 600;

}

.login-container__hr {
    margin-block-start: 0em;
    margin-block-end: 0;
    margin-inline-start: 3em;
    margin-inline-end: 3em;
}

.login-container__login-text {
    margin-bottom: 0;
}

.login-container__login-text a {
    color: #fff;
}

.login-container__image {
    width: auto;
    height: 28em;
}

.login-container__form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.login-container__login-text {
    font-size: 1em;
}

.login-container__form-section__title {
    font-size: 2em;
    margin-bottom: 1em;
}

.success {
    color: #1dc81d;
    font-size: 1.5em;
    text-align: center;
    width: 80%;
    text-decoration: underline;
    font-weight: 700;
}

.error {
    color: red;
    font-size: 1.5em;
    text-align: center;
    width: 80%;
    text-decoration: underline;
    font-weight: 700;
}

.disabled{
    background: #969297;
cursor: not-allowed !important;
}